<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Image</title>
</head>
<body>
<p><a href="{% url 'home' %}">Назад к списку</a></p>
{% block content %}
<p>{{ error }}</p>
<form method="POST">
    {% csrf_token %}
    Ширина
    <p><input name="width" placeholder="Ширина"></p>
    Высота
    <p><input name="height" placeholder="Высота"></p>
    <button type="submit">Отправить</button>
    <p><img src="{{ image.image.url }}"></p>
</form>
{% endblock %}
</body>
</html>